.qu{
    background-image: linear-gradient(to top,#404040,#c0baba);
    height: 744px;
    text-align: center;
    padding-top: 300px;
    color:white;
    
    
}
.hh{
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 900;
     font-style: normal;
}